.header {
    width: 100%;
    display: inline-flex;
    float: left;
    min-height: 73px;
    box-shadow: 0px 5px rgb(112 112 112 / 20%);
    background: #fff;
    position: relative;
    z-index: 8;
}
.header .logo-bx {
    width: 20%;
    padding: 23px 0;
    border-right: #f8f8f8 2px solid;
    text-align: center;
}
.header .quick-search-bx {
    width: 11%;
    min-height: 73px;
    border-right: #f8f8f8 2px solid;
    padding: 20px 5px;
    text-align: center;
}
.header .navi-bx {
    width: 52%;
}
.header .navi-bx ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
}
.header .navi-bx ul li {
    max-width: 90.8px;
    width: 100%;
    float: left;
    text-align: center;
    border-right: #f2f2f2 1px solid;
    font-size: 14px;
    border-bottom: #fff 3px solid;
}
.header .navi-bx ul li span {
    width: 100%;
    float: left;
    font-size: 13px;
    padding: 12px 0;
    text-align: center;
}
.header .navi-bx ul li svg {
    color: #fe492b;
}
.header .navi-bx ul li:hover {
    border-bottom: #fe492b 3px solid;
    background-color: rgb(223, 223, 223);
}
.header .call-bx {
    width: 17%;
    padding: 14px 8px;
    background: #fe492b;
    position: relative;
    display: grid;
    color: white;
}
.big-font{
    font-size: 24px;
}
.small-font{
    font-size: 12px;
}