.ChevronRightIcon{
    background-image: linear-gradient(to right, #FFCC67, #FF6C00 );width: 40px; height:40px;
    cursor:pointer;border-radius:5px;color:#fff;background-color: #FF6C00;
}
.ChevronRightIcon:hover {
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}
.footer_logo{
    height: 80px;
    width: 159px;
}
.footer_para{
    font-size: 14px;
}
.logo_para{
    width: 239px;
}
.footer{
    margin: 20px 0 46px 0;
}
.top_space{
margin-top: 15px;
}